<form method="post" action="{{ path('app_formation_delete', {'idf': formation.idf}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette formation?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation.idf) }}">
    <button type="submit" class="btn btn-link text-danger px-3 mb-0">
        <i class="material-icons text-sm me-2">delete</i>Supprimer
    </button>
</form>