<form method="post" action="{{ path('app_giveaway_delete', {'idg': giveaway.idg}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ giveaway.idg) }}">
    <button class="btn">Delete</button>
</form>
