{% extends 'base.html.twig' %}

{% block title %}New Giveaway{% endblock %}

{% block body %}
    <h1>Create new Giveaway</h1>

    {{ include('giveaway/_form.html.twig') }}

    <a href="{{ path('app_giveaway_index') }}">back to list</a>
{% endblock %}
